@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background-menu-button: linear-gradient(315deg, #8709b4 0%, #6e0349 100%);
  --color-x: #ff0000;
  --color-o: #0000ff;
  --background-fields: #FFFFFF;
  --border-fields: #000000;
  --background-win: #008000bf;
  --color-highlight: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background-image: -o-linear-gradient(315deg, blue, purple 50%);
  background-image: linear-gradient(135deg, blue, purple 50%);
  cursor: grab;
}

body {
  background-image: -o-linear-gradient(315deg, blue, purple 50%);
  background-image: linear-gradient(135deg, blue, purple 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  width: 100vw;
  overflow-x: hidden;
  font-size: 6px;

  @media screen and (min-width: 600px) {
    font-size: 10px;
  }
  @media screen and (min-width: 772px) {
    font-size: 10px;
  }
}

.menu-button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  align-content: center;
  position: relative;

  @media screen and (max-height: 400px) {
    width: 40px;
    height: 40px;
  }

  b {
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(100%, -50%);
    width: max-content;
    height: max-content;
    font-size: 1.8em;
  }

  @media screen and (min-width: 772px) {
    b {
      z-index: -1;
      padding: 1em;
      top: -75%;
      right: 50%;
      transform: translate(50%, -50%);
      border-radius: 10px;
      background: #000000;
      opacity: 0;
      transition: opacity 1s ease, 1s z-index ease;
    }

    &:hover b, &:focus b, &.icon:hover & > b {
      z-index: 10000;
      opacity: 1;
    }
  }

  .icon {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
    display: grid;
    place-items: center;
    fill: black;

    &::before {
      content: '';
      position: absolute;
      top: -10%;
      left: 0;
      width: 120%;
      height: 120%;
      background: linear-gradient(45deg, #ffcf00, #e30000);
      z-index: 10;
      border-radius: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 10%;
      width: 100%;
      height: 100%;
      background: #ffffffa6;
      z-index: 20;
      border-radius: 3px;
      clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 99%);
      transition: clip-path 0.35s ease-in-out;
    }

    svg {
      width: 30px;
      height: 30px;
      z-index: 100;
      position: relative;
      left: 10%;
    }

    @media screen and (max-height: 500px) {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    @media screen and (min-width: 772px) {
      &:hover::after {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
      }

      &:hover {
        transform: scale(1.3);
      }
    }

  }
}